<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="img-fluid" 
                    style="width: 100px" 
                    src="/assets/login.png" 
                    alt=""/>
                </div>
                <h1 class="text-center">Save the Status!!</h1>
                <form (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Book Name</mat-label>
                        <mat-select name="book_Id" [(ngModel)]="credentials.book_Id">
                          <mat-option *ngFor="let item of bookList" [value]="item.book_Id"  >
                            {{item.title}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    <!-- <mat-form-field class="full-width">
                        <mat-label>User Id</mat-label>
                        <input 
                        [(ngModel)]="credentials.user_Id"
                        name="user_Id"
                        required type="number" matInput />
                    </mat-form-field> -->
                    <mat-form-field class="full-width">
                        <mat-label>Date</mat-label>
                        <input 
                        name="date"
                        required type="date" matInput 
                        [(ngModel)]="credentials.date" matInput/>
                    </mat-form-field>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select id="status" name="status" [(ngModel)]="credentials.status" name="status" required type="text" ngModel class="full-width">
                          <option value="ISSUE">ISSUE</option>
                          <option value="RETURN">RETURN</option>
                          <option value="RENEWAL">RENEWAL</option>
                        </select>
                      </div>


                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Submit</button>  
                    </div>
                    <button style="margin-left: 10px;" type="reset" mat-raised-button color="accent">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>