<!-- <button class="full-width" type="button" class="btn btn-primary btn-rounded"> </button> -->
<div class="container">
    <div class="header">
    <h1>WELCOME TO LIBRARY MANAGEMENT SYSTEM</h1>
    <p>This is your DashBoard</p>
    </div>
    <!-- <span class="admin">
        <button class="full-width" type="button" class="btn btn-primary btn-rounded" routerLink="/books">Add
            Books</button>
    </span>
    <span class="admin">
        <button mat-raised-button color="accent" type="button" routerLink="/userlist">Users List</button></span>
    <span class="admin">
        <button class="full-width" type="button" class="btn btn-primary btn-rounded"
            routerLink="/bookslist">Books</button></span>
    <span class="admin">
        <button class="full-width" type="button" class="btn btn-primary btn-rounded" routerLink="/register">Add Users</button>
        </span>-->
</div>
<div class="text-center">
    <h1>books !! </h1>
    <mat-card class="mdcardcontact" >
        <!-- <mat-card-header style="background-color: rgb(175, 239, 206);   width:100%"> </mat-card-header> -->
        <mat-card-content ><img src="https://www.pngitem.com/pimgs/m/475-4750728_add-user-group-woman-man-icon-add-user.png" class="images" /></mat-card-content>
        <mat-card-content>staff can add users here !!</mat-card-content>
        <mat-card-content class="full-width" type="button" class="btn btn-primary btn-rounded" routerLink="/register" >Add Users</mat-card-content>
    </mat-card>
    <mat-card class="mdcardcontact" >
        <!-- <mat-card-header style="background-color: rgb(175, 239, 206);   width:100%"> </mat-card-header> -->
        <mat-card-content ><img src="https://store-images.s-microsoft.com/image/apps.25871.53baf1fd-a88b-421e-96ea-18e584d3df32.2263e8ca-1f9f-4991-8937-d1c42f79ccc3.2fed0e10-4552-446e-b131-5cabd645b924.png" class="images" /></mat-card-content>
        <mat-card-content>staff can view and delete users here !</mat-card-content>
        <mat-card-content class="full-width" type="button" class="btn btn-primary btn-rounded" routerLink="/userlist" >Users List</mat-card-content>
    </mat-card>
    <mat-card class="mdcardcontact" >
        <!-- <mat-card-header style="background-color: rgb(175, 239, 206);   width:100%"> </mat-card-header> -->
        <mat-card-content ><img src="https://www.shareicon.net/data/2016/06/27/623443_book_256x256.png" class="images" /></mat-card-content>
        <mat-card-content>staff can add Books here !!</mat-card-content>
        <mat-card-content class="full-width" type="button" class="btn btn-primary btn-rounded" routerLink="/books" >Add Books</mat-card-content>
    </mat-card>
    <mat-card class="mdcardcontact" >
        <!-- <mat-card-header style="background-color: rgb(175, 239, 206);   width:100%"> </mat-card-header> -->
        <mat-card-content ><img src="https://www.maxpixel.net/static/photo/1x/Design-Symbol-Book-Icon-Icon-Education-Books-Set-1673578.png" class="images" /></mat-card-content>
        <mat-card-content>staff can view and delete Books here</mat-card-content>
        <mat-card-content class="full-width" type="button" class="btn btn-primary btn-rounded" routerLink="//bookslist" >Books List</mat-card-content>
    </mat-card>
    <mat-card class="mdcardcontact" >
        <!-- <mat-card-header style="background-color: rgb(175, 239, 206);   width:100%"> </mat-card-header> -->
        <mat-card-content ><img src="https://icons.veryicon.com/png/o/miscellaneous/colorful-news-icon/audit-status.png" class="images" /></mat-card-content>
        <mat-card-content>staff can view Library Books Status here</mat-card-content>
        <mat-card-content class="full-width" type="button" class="btn btn-primary btn-rounded" routerLink="/statuslist" >Books Status List</mat-card-content>
    </mat-card>
    </div>