/* You can add global styles to this file, and also import other style files */
*
{
    padding: o;
    margin: 0;
}
:root
{
    --primary-color:#3FC060;
    --secondary-color:#162328;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 254, 230);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.text-centre{
    text-align: center;
}
.mt{
    margin-top: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
